@charset "UTF-8";
/* 回答はここから */

.contena-text-align{
  background: #ffffff;
  text-align: center;
}
.box-text-align{
  background: #a4b3e9;
  display: inline-block;
  margin:20px;
  padding: 10px;
}

.contena-margin{
  background-color: #ffffff;
  width:200px;
  padding: 20px 0;
}
.box-margin{
  background: #a4b3e9;
  text-align: center;
  padding:10px;
  width:90px;
  margin: 0 auto;
}

/* table */
.contena-table{
  display: table;
}
.box-table{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.inner-box-table{
  background: #ffffff;
  display:inline-block;
  padding: 10px;
}

/* flex */
.contena-flex{
  display:flex;
  align-items: center;
  justify-content:center;
}
.box-flex{
  background: #ffffff;
  padding: 10px;
}

/* position */
.contena-position{
  background: #ffffff;
  position: relative;
  width:250px;
  height:150px;
}
.box-position{
  background: #a4b3e9;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  padding:10px;
}